.container {
    margin: 10rem auto;
    table {
        width: 90%;
        // border: 1px solid black;
        border-radius: 1rem;
        box-shadow: 1px 1px 5px 4px #cdcdcd;
        padding: 15px !important;
    }
}